@import '../../../theme.scss';

.big-button {
  margin: 0;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  &:last-child {
    border-left: dashed;
  }
  > div {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  > div:hover {
    background: #fdf2ff40;
  }
  .main {
    flex: 1 1 auto;
  }
  i {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .icon-webm {
    background-image: url($iconWebm);
  }
  .icon-gif {
    background-image: url($iconGif);
  }
  .icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text {
    padding: 0 1rem;
  }
  &[draggable] {
    cursor: grab;
  }
  strong {
    color: $darkteal;
  }
}

.type-picker {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.export-body {
  min-width: 400px;
}
.processing-status {
  font-size: 1.25rem;
}
.ready {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
}
.processing-step {
  opacity: 0.5;
  margin: 0 0 0.5rem 0;
  padding: 1rem 0;
  border-bottom: solid 1px;
  display: grid;
  grid-template-columns: 1fr min-content;
  &.started {
    opacity: 1;
    grid-template-columns: 1fr min-content;
  }
  &.done {
    opacity: 0.5;
  }
  .progress {
    grid-column: span 2;
  }
  mat-progress-bar {
    width: 94%;
    margin: 0.5rem 3%;
  }
}

.big-button > div:hover .drag-indicator {
  visibility: visible;
}
.preview-container {
  position: relative;
  padding: 0 1rem;
  .drag-indicator {
    background: #393939a0;
    position: absolute;
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    top: 0;
    left: 1rem;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  i {
    border: dashed 2px #fff;
    border-radius: 50px;
    height: 67px;
    width: 67px;
    line-height: 67px;
  }
}
