@import '../../../theme.scss';

$row-height: 25px;
$row-font-size: 0.75rem;

@mixin item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header {
  background: #0001;
  box-sizing: border-box;
  padding: 0 0.7rem;
  border-bottom: solid 1px #0002;
  text-align: right;
  @include chill-text;
}
.row {
  font-size: $row-font-size;
  line-height: $row-height;
  width: 100%;
  display: grid;
  grid-template-columns: 140px 1fr;
}
.item {
  height: 25px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}
.item-header {
  height: 100%;
  @include item-text;
  display: none;
}
.item-gutter {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1px 0;
  box-sizing: border-box;
}
.item-length {
  position: absolute;
  user-select: none;
  box-sizing: border-box;
  background: #759;
  border: solid 1px #fff5;
  height: 23px;
  line-height: 21px;

  &:hover:before {
    width: 100%;
    height: 100%;
    background-color: transparentize($color: $selection, $amount: 0.7) !important;
    cursor: pointer;
    content: '';
    position: absolute;
  }

  &.selected {
    background: #629;
  }

  .handle {
    cursor: col-resize;
    position: absolute;
    width: 12px;
    height: 100%;
    margin: 0 -4px;
    min-width: 16px;
    user-select: none;
  }

  .right-handle {
    right: 0;
  }

  .text {
    @include item-text;
    height: 21px;
    padding: 0 0.5rem;
    line-height: 23px;
    color: #f8dfff;
    font-size: 0.6rem;
    display: flex;

    img {
      height: 21px;
      margin-right: 0.25rem;
    }
    i {
      line-height: 23px;
      font-size: 1rem;
      margin-right: 0.25rem;
    }
  }
}
