:host {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}
.buttons-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}
.time-label {
  text-align: right;
}
.toolbar {
  display: grid;
  grid-template-columns: 140px 1fr;
  .buttons {
    background: #0002;
  }
}
.scrubber-container {
  position: relative;
  background: #0001;
}
