@import '../../../theme.scss';

:host {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  @include tool-panel;
}
.buttons-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}
.time-label {
  text-align: center;
  cursor: pointer;
  @include chill-text;
  .total {
    font-size: 0.8rem;
  }
  .time {
    color: $darkteal;
  }
  transition: 0.2s;
  &:hover {
    color: #fff;
    .time {
      color: #fff;
    }
  }
}
.toolbar {
  display: grid;
  border-bottom: solid 1px #666;
  grid-template-columns: 140px 1fr;
  .buttons {
    background: #0002;
  }
}
.scrubber-container {
  position: relative;
  background: #0001;
}
.layers {
  max-height: 90px;
  overflow-y: scroll;
  overflow-x: hidden;
}
