@import '../../../theme.scss';

.margin {
  display: block;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  user-select: none;
}
.marker {
  background: #2a839c;
  width: 13px;
  height: 13px;
  top: 28px;
  position: absolute;
  border-radius: 7px 7px 7px 0;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  box-shadow: 1px -1px 3px #0006;
  user-select: none;
  cursor: grab;
}
.container {
  display: block;
  position: relative;
  width: calc(100% - #{$scrollbar-width});
  height: 100%;
}
.bar {
  position: absolute;
  width: 1px;
  z-index: 1;
  height: 100000px;
  top: -2px;
}
.sliver {
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 1px;
  padding: 0 5px;
  left: -5.5px;
  user-select: none;
  cursor: ew-resize;
  outline: none;
  top: 40px;
}
.sliver::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-left: solid 2px $darkteal;
}
